<!-- <div>
    <label>PDF src</label>
    <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
</div>
<pdf-viewer [src]="pdfSrc" 
            [render-text]="true"
            style="display: block;"
></pdf-viewer> -->

<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="dadosPessoais">
    <form [formGroup]="dadosPessoais">
      <ng-template matStepLabel>Dados pessoais</ng-template>
      <div fxLayout="row wrap" fxLayoutGap="16px" flexLayout.sm="column">
        <mat-form-field>
          <input matInput placeholder="Nome" formControlName="nome">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Sobrenome" formControlName="sobrenome">
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px" flexLayout.sm="column">
        <mat-form-field>
          <input matInput placeholder="Email" type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Celular" formControlName="celular" mask="(00) 0000-00000">
          </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field>
          <input matInput (click)="picker.open()" placeholder="Nascimento" [min]="minDate" [max]="maxDate"
            [matDatepicker]="picker" formControlName="nascimento" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px" flexLayout.sm="column">
        <mat-form-field>
          <input matInput placeholder="RG" formControlName="rg" mask="00.000.000-0">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
          <mat-error *ngIf="dadosPessoais.controls.cpf?.errors?.cpf">O CPF digitado é inválido.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext [disabled]="!dadosPessoais.valid">Avançar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="dadosAcademicos">
      <form [formGroup]="dadosAcademicos">
        <ng-template matStepLabel>Dados Acadêmicos</ng-template>
        <div fxLayout="row wrap" fxLayoutGap="16px" flexLayout.sm="column">
          <mat-form-field>
            <input matInput placeholder="Matrícula" formControlName="matricula" style="text-transform: uppercase;" maxlength="11">
            <mat-error *ngIf="dadosAcademicos.controls.matricula?.errors?.pattern || 
            dadosAcademicos.controls.matricula?.errors?.matricula">A matrícula digitada é inválida.</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field style="width: 376px;">
              <input matInput placeholder="Curso" formControlName="curso" readonly>
            </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field style="width: 376px;">
            <input matInput placeholder="Autenticação de Matrícula" formControlName="autenticacao" mask="AAAA.AAAA.AAAA.AAAA.AAAA.AAAA.AAAA.AAAA">
            <mat-hint>Código localizado no rodapé do comprovante de matrícula. Exemplo: 09A4.344C.D89A.5CB8.7D45.8110.EE75.FBA2</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </mat-step>
  <mat-step [stepControl]="endereco">
    <form [formGroup]="endereco">
      <ng-template matStepLabel>Endereço</ng-template>
      <div fxLayout="row">
        <mat-form-field>
          <input matInput placeholder="CEP" formControlName="cep" mask="00000-000">
          <mat-error  *ngIf="endereco.controls.cep?.errors?.cep">O CEP sdigitado é inválido.</mat-error>
          <!-- <mat-error  *ngIf="endereco.controls.cep?.errors?.cep">{{endereco.controls.cep?.errors| json}}</mat-error> -->
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px" flexLayout.sm="column">
        <mat-form-field>
          <input matInput placeholder="Logradouro" formControlName="logradouro">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Número" formControlName="numero">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Complemento" formControlName="complemento">
          <mat-hint>Exemplo: Bloco A, Ap. 1203</mat-hint>
        </mat-form-field>
      </div>
       <div fxLayout="row wrap" fxLayoutGap="16px" flexLayout.sm="column">
          <mat-form-field>
              <input matInput placeholder="Bairro" formControlName="bairro">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Cidade" formControlName="cidade">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="UF" formControlName="uf">
            </mat-form-field>
       </div>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Avançar</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fim</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button (click)="stepper.reset()">Avançar</button>
    </div>
  </mat-step>
</mat-vertical-stepper>