<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="dadosPessoais">
    <form [formGroup]="dadosPessoais">
      <ng-template matStepLabel>Dados pessoais</ng-template>
      <div fxLayout="row wrap" fxLayoutGap="16px" flexLayout.sm="column">
        <mat-form-field>
          <input matInput placeholder="Nome" formControlName="nome">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Sobrenome" formControlName="sobrenome">
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field>
          <input matInput placeholder="Email" type="email" formControlName="email">
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field>
          <input matInput (click)="picker.open()" placeholder="Nascimento" [min]="minDate" [max]="maxDate"
            [matDatepicker]="picker" formControlName="nascimento" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px" flexLayout.sm="column">
        <mat-form-field>
          <input matInput placeholder="RG" formControlName="rg" mask="00.000.000-0">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
          <mat-error *ngIf="dadosPessoais.controls.cpf?.errors?.cpf">O CPF digitádo é inválido.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext [disabled]="!dadosPessoais.valid">Avançar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="endereco">
    <form [formGroup]="endereco">
      <ng-template matStepLabel>Endereço</ng-template>
      <div fxLayout="row">
        <mat-form-field>
          <input matInput placeholder="CEP" formControlName="cep">
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px" flexLayout.sm="column">
        <mat-form-field>
          <input matInput placeholder="Logradouro" formControlName="logradouro">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Número" formControlName="numero">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Complemento" formControlName="complemento">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Avançar</button>
        <button mat-button matStepperNext>Voltar</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fim</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>